<form id="categoryForm">
	<div class="modal-body">
		<div class="popupForm inputForm">
			<h4 class="title text-info">Create New {{modelName}}</h4>

			<div class="form-group name-group">
				<label for="name">Name </label>
				<input type="text" class="form-control" id="name" name="name" value="{{model.name}}" required
						 maxlength="30" minlength="3" autocomplete="off"
						 {{#model}}disabled{{/model}} >
				{{^model}}
				<span class="help-block">Please use a <strong>unique</strong> {{modelName}} name.</span>
				{{/model}}
			</div>
			<div class="form-group">
				<label for="name">Colour </label>
				{{#model}}
				<div class="colorShow"><span class="colorShowBox" style="background-color:{{model.color}}"></span>
					{{{model.color}}}
				</div>
				<input type="hidden" class="form-control" id="color" name="color" value="{{model.color}}" required
						 maxlength="30" disabled>
				{{/model}}
				{{^model}}
				<input type="text" class="form-control" id="color" name="color" value="{{model.color}}"
						 maxlength="30">
				<span class="help-block">Please select only <strong>dark</strong> colours.</span>
				{{/model}}
			</div>
			{{#model}}
			<div class="alert alert-danger" role="alert">
				<div><strong><i class="fa fa-exclamation-triangle"></i> This action can't be undone!</strong><br/></div>
				<div class="text-justify"><br/>Please be careful creating a new {{modelName}}, you wont be able to delete it later.</div>
			</div>
			{{/model}}
		</div>
	</div>
	<div class="modal-footer">
		{{^model}}
		<button type="submit" class="btn btn-primary submit">Create</button>
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		{{/model}}
		{{#model}}
		<button type="button" class="btn btn-primary confirm" data-dismiss="modal">Confirm</button>
		<button type="button" class="btn btn-default cancel">Cancel</button>
		{{/model}}

	</div>
</form>



