.colorShowBox{
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
}
.inputForm{
	.modal-body > &{
		padding: 0;
	}
	.sp-replacer{
		clear: both;
		display: block;
		border: 1px solid #ccc;
		position: relative;
	}
	.sp-dd{
		position: absolute;
		right: 1em;
	}
	.sp-replacer.sp-active, .sp-replacer:hover{
		border: 1px solid #ccc;
	}
}
.sp-container{
	border: 1px solid #ccc;
}
.help-block.error{
	height: 0;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s;
	.has-error &{
		visibility: visible;
		opacity: 1;
		height: auto;
	}
}
#categoryForm{
	.form-group{
		position: relative;
	}
	#color{
		position: absolute;
		top:20px;
		display: block;
		height: 30px;border: none;
		background: transparent;
		color: transparent;
	}
	.alert{
		margin-bottom: 0;
	}
}
