<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="error-template">
				<h1>Oops!</h1>
				<h2>PAGE Not Found! Error 404</h2>
				<div class="error-details">
					Sorry, an error has occured, Requested page not found!
				</div>
				<div class="error-actions">
					<a href="/" class="btn  btn-info">
						Go to Home Page <i class="fa fa-globe"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
