/* #############################################################################
                            WEB FONTS
############################################################################# */
@font-face {
	font-family: 'FONT_NAME';
	src: url('../fonts/FONT_NAME/FONT_NAME.eot');
	src: url('../fonts/FONT_NAME/FONT_NAME.eot?#iefix') format('embedded-opentype'),
	url('../fonts/FONT_NAME/FONT_NAME.woff') format('woff'),
	url('../fonts/FONT_NAME/FONT_NAME.ttf') format('truetype'),
	url('../fonts/FONT_NAME/FONT_NAME.svg#FONT_NAME') format('svg');
	font-weight: normal;
	font-style: normal;
}
