<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="myModalLabel">Cookie Policy</h4>
</div>
<div class="modal-body">
    <p>This website uses cookies. By using this website and agreeing to this policy you consent to Quintessential's use
        of cookies in accordance with the terms of this policy.</p>

    <p>Cookies are files sent by web servers to web browsers, and stored by the web browsers.</p>

    <p>The information is then sent back to the server each time the browser requests a page from the server. This
        enables a web server to identify and track web browsers.</p>

    <p>There are two main kinds of cookies: session cookies and persistent cookies. Session cookies are deleted from
        your computer when you close your browser, whereas persistent cookies remain stored on your computer until
        deleted, or until they reach their expiry date.</p>
</div>