<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
	</button>
	{{#title}}
	<h3>{{{title}}}</h3>
	{{/title}}
</div>
{{{#message}}}
<div class="modal-body">
	{{{message}}}
</div>
{{{/message}}}
{{#dialog}}
<div class="modal-footer">
	<button type="button" class="btn btn-primary dialogConfirm" data-dismiss="modal">Confirm</button>
	<button type="button" class="btn btn-default dialogCancel" data-dismiss="modal">Cancel</button>
</div>
{{/dialog}}
