<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Privacy Policy</h4>
</div>
<div class="modal-body">
    <p ><strong >1. INTRODUCTION</strong>
    </p>
    <p >This website is operated by a member of the Quintessential Brands group
        of companies, the ultimate holding company of which is Quintessential Brands SA (Quintessential Brands SA is a
        company registered in Luxembourg with the company number B116094. Registered Office: 121, Avenue de la Faïencerie L
        – 1511 LUXEMBOURG Quintessential Brands Ltd is a company registered in England with the company number 07723026.
        Registered Office: Clayton Road, Birchwood, Warrington. WA3 6PH. All references to ‘our’, ‘us’, ‘we’, or ‘company’
        within this policy and within the opt-in notice are deemed to refer to Quintessential Brands SA, its subsidiaries,
        affiliates, and/or associates, as appropriate. We endeavour to protect your personal privacy. We provide this
        Privacy and Cookie Notice to help you to understand what we may do with any personal information that we obtain from
        you. By providing your personal information to us, you signify your acceptance of our Privacy and Cookie Notice and
        agree that we may collect, use, and disclose your personal information as described in this Privacy and Cookie
        Notice. If you do not agree to this Notice, please do not provide your personal details to us. This Privacy and
        Cookie Notice is incorporated into, and part of, the Terms and Conditions, that govern your use of the site in general. We will use your
        information only for the purposes set forth below. We may need to update this Privacy and Cookie Notice from time to
        time. We recommend that you check this page regularly to ensure that you have read the most recent version.</p>
    <p >Changes to the Privacy and Cookie Notice are noted here: Date last
        revised: 13 May 2015; Description of substantive revisions: n/a</p>
    <p ><strong >2. Legal purchase
        age</strong></p>
    <p >You must not provide us with your personal information if you are not of
        legal age to purchase alcohol in the jurisdiction in which you reside and (if different) in the jurisdiction in
        which you are accessing the site. We do not intend to collect personal information from any individuals under the
        legal purchase age, or to market alcoholic beverages to anyone under the legal purchase age. If we receive notice or
        believe that someone under the legal purchase age has provided us with personal information we will make every
        reasonable effort to remove such personal information from our files, or to flag such personal information and (to
        the extent permitted by law) retain it for the sole purpose of ensuring that it is no longer used.</p>
    <p ><strong >3. What is personal
        information? </strong></p>
    <p >Personal information is information about an identifiable individual, as
        defined by applicable law.</p>
    <p ><strong >4. Collecting personal
        information </strong></p>
    <p >It is your choice to provide us with personal information. We will only
        collect personal information that you choose to provide. In certain instances, we may provide you with the option to
        select whether you would like to receive information from us or from trusted third parties (for example, by choosing
        to opt in or opt out of receiving special promotional offers). In some circumstances, you will not have the option
        to opt out, such as when we are satisfying the obligations of a contract with you, administering a transaction
        requested by you, or required by law. You may choose to provide us with personal information if, for example, you:
        contact us with an enquiry; register on the site; forward an item to a friend; purchase an item; fill out a survey
        or other form with your personal information included; ask us to provide you with information; enter a competition;
        post information to public areas of the site; or take advantage of a promotion. By providing any personal
        information to us, you fully understand and clearly consent to the transfer of such personal information to, and the
        collection and processing of such information in, other countries or territories. Any such transfer and processing
        by us will be in accordance with this Privacy and Cookie Notice.</p>
    <p ><strong >5. Cookies </strong></p>
    <p >Like many other websites, we use “cookies” to help us gather and store
        information about visitors to our websites. A cookie is a text-only string of information that a website transfers
        to the cookie file of the browser on your computer’s hard disk so that the website can remember who you are. A
        cookie will typically contain the name of the domain from which the cookie has come, the “lifetime” of the cookie,
        and a value, usually a randomly generated unique number. What types of cookies are used on this site? Types of
        cookies which may be used on this website;</p>
    <p ><strong style="font-weight: bold;">1. Preference Cookie</strong> – At
        your request we may place a cookie to remember your preferences so that you do not need to re-enter your details
        (country/age and language preferences) on our gateway page. This is not suitable if you share your computer with
        someone else.</p>
    <p ><strong style="font-weight: bold;">2. Social Sharing </strong> – This is
        a cookie that identifies you with social networking sites such as Facebook and Twitter and allows interaction
        between your activity on social networking sites and on our website through your direction, and makes your
        transition between the sites more seamless.</p>
    <p ><strong style="font-weight: bold;">3. Site Analystics </strong> We use
        Google Analytics to help analyse use of our website. This analytical tool uses ‘cookies’, which are text files
        placed on your computer, to collect standard internet log information and visitor behaviour information in an
        anonymous form. The information generated by the cookie about your use of the website (including your IP address) is
        transmitted to Google. This information is then used to evaluate visitors’ use of the website and to compile
        statistical reports on website activity. To opt out of being tracked by Google Analytics across all websites visit
        http://tools.google.com/dlpage/gaoptout.Session Cookies – We use session cookies, which are temporary cookies that
        cookies aid the user journey around the site, and will remember preferences you have selected during the session.
        These cookies are deleted as soon as you leave the site.</p>
    <p ><strong style="font-weight: bold;">4. Content Management
        cookies </strong> — These are cookies required by the site for the content management system to work.</p>
    <p ><strong style="font-weight: bold;">5. Template preference
        cookies </strong> – These cookies are necessary for mobile sites and enable the site to look and feel the way it is
        intended to. How do I disable/enable cookies? You have the ability to accept or decline cookies by modifying the
        settings in your browser. However, you may not be able to use all the interactive features of our site if cookies
        are disabled. There are a number of ways to manage cookies. Please refer to your browser instructions or help screen
        to learn more about these functions. For example, in Internet Explorer, you can go to the Tools/Internet
        options/Security and Privacy Tabs to adapt the browser to your expectations. If you use different computers in
        different locations you will need to ensure that each browser is adjusted to suit your cookie preferences. Some
        modern browsers have a feature that will analyse website privacy policies and allow a user to control their privacy
        needs. These are known as ‘P3P’ features (Privacy Preferences Platform). You can easily delete any cookies that have
        been installed in the cookie folder of your browser. For example, if you are using Microsoft Windows Explorer: .
        open ‘Windows Explorer’ . click on the ‘Search’ button on the tool bar . type “cookie” into the search box for
        ‘Folders and Files’ . select ‘My Computer’ in the ‘Look In’ box . click ‘Search Now’ Double click on the folders
        that are found . ‘Select’ any cookie file . hit the ‘Delete’ button on your keyboard If you are not using Microsoft
        Windows Explorer, then you should select ‘cookies’ in the ‘Help’ function for information on where to find your
        cookie folder.</p>
    <p >&nbsp;</p>
    <p ><strong >6. Use of personal
        information</strong></p>
    <p >We may use personal information collected from you to provide specific
        services that you request, as well as to provide additional services that may be of interest. For example, we may
        use your personal information in the following ways: Marketing Communications. We may use your personal information
        to communicate with you about our products and services, and those of our subsidiaries, affiliates, and parent
        companies, and any of their related businesses. Marketing analysis. We may use your personal information for
        internal marketing analysis, for example, to assess trends amongst our consumers or to measure the amount of traffic
        to our websites. Transactional purposes. We may use your personal information to respond to your queries and
        requests, maintain your accounts, and manage transactions such as credit card payments for any goods that you order
        from us or our agents, or for the fulfilment of such transactions (e.g., delivery). Forward to a friend. When you
        provide us with information regarding another individual, such as when you request that we send someone information
        from one of our websites, we will send that individual only the information you specifically requested that we send.
        We will not send them additional communications based on your providing us with their information. You must certify
        that your friend is of Legal Purchase Age in the jurisdiction where he/she is located in order for us to transmit
        the requested information.</p>
    <p >&nbsp;</p>
    <p ><strong >7. Disclosure of personal
        information</strong></p>
    <p >We value your personal information and only share it with third parties
        that provide it with adequate protection. From time to time we may disclose personal information to: (a) third
        parties to whom you have provided your consent; (b) our service providers and subcontractors, including our
        affiliates, retained to perform functions on our behalf, or to provide services to us (such as warehousing and
        delivery; marketing and advertising; credit card and data processing; age verification; software development;
        website hosting and management; information technology and office services; legal, accounting, audit and other
        professional service providers; and other services related to our business), provided such service providers and
        subcontractors do not collect, use, or disclose the personal information for any purpose other than to perform such
        functions on our behalf, to provide services to us, or as otherwise required by law; (c) third parties who, in our
        reasonable judgment, are providing or seeking the information as your authorized or appointed legal agent; or (d)
        carefully selected third parties, including our affiliates, to send you third party marketing and promotional
        information that may be of interest. In such circumstances these organizations may be bound by confidentiality
        obligations and restrictions on the use of your personal information. We will obtain your express permission before
        we allow a third party that is not an affiliate to send you any such marketing and promotional information; (e) a
        person or entity, including our affiliates, in the event of a sale, merger, consolidation, change in control,
        transfer of substantial assets, financing, reorganization, or liquidation whereby we transfer, sell, or assign to
        such third party information concerning your relationship with us, including without limitation, personally
        identifiable information that you provide and other information concerning your relationship with us; and (f) law
        enforcement, governmental or regulatory agencies, or other third parties in order to comply with applicable law, or
        where we believe such action is necessary in order to comply with applicable law, or to detect, protect, or defend
        us and/or other third parties against error, negligence, breach of contract, theft, fraud, or other illegal or
        harmful activity, to comply with our audit and security requirements, or to audit compliance with our corporate
        policies, procedures, legal, or contractual obligations.</p>
    <p >&nbsp;</p>
    <p ><strong >8. Public (or Interactive)
        areas of our websites</strong></p>
    <p >Information that you post on or through the public areas of the site
        (e.g., chat rooms, bulletin boards, discussion groups, or Social Networking modules) generally is accessible to, and
        may be collected and used by, others, and may result in unsolicited messages or other contact from others. You
        should not provide personal information about yourself in public (or interactive) areas of the site. Such personal
        information is not covered under this Privacy and Cookie Notice. 9. Security We take security seriously and take
        precautions to keep your personal information secure. We have put in place appropriate physical, electronic, and
        managerial procedures to safeguard the information we collect. However, we have no control over the privacy of any
        communications while it is in transit to us. We therefore recommend that you not include confidential, proprietary,
        or sensitive information in any such communications. In the unlikely event that we believe that the security of your
        personal information in our possession or control may have been compromised, we may seek to notify you of that
        development. If such a notification is appropriate, we will endeavour to do so as promptly as possible under the
        circumstances, and, to the extent we have your email address, we may notify you by email. You are reminded that, in
        accordance with the Terms and Conditions for this website, which include this Privacy and Cookie Notice, you are
        responsible for maintaining the strict confidentiality of your account password, and you are responsible for any
        activity under your account and password. It is your sole responsibility to control the dissemination and use of
        your password, control access to and use of your account, and notify us when you wish to cancel your account. We
        will not be responsible or liable for any loss or damage arising from your failure to comply with this
        obligation.</p>
    <p >&nbsp;</p>
    <p ><strong >9. Unsubscribe, access,
        questions and further information </strong></p>
    <p >At your request and where the law requires us to do so, if you contact
        us using the unsubscribe details provided below we will confirm what personal information we hold about you, update
        your information, remove your information, fulfil specific opt-out requests (including requests where you previously
        opted in with respect to the use of your personal information), and/or correct any inaccuracies in such personal
        information. If you would like to unsubscribe from [brand] communications, or from all communications about
        Quintessential Brands brands, please contact: <a href="mailto:info@feeneysirishcream.com">info@feeneysirishcream.com</a>
    </p>
    <p >&nbsp;</p>
    <p ><strong >10. . Interfaces with
        Third-Party Websites</strong></p>
    <p >The site may contain links, references, and content from other websites
        outside of our control. Please be aware that we have limited or no control over these websites and our Privacy and
        Cookie Notice does not apply to these sites. We encourage you to read the Privacy and Cookie Notices and terms and
        conditions of any linked, referenced, or interfacing websites you enter. This Privacy and Cookie Notice will be
        supplemented by additional legal requirements in jurisdictions where we conduct business as required. Nothing in
        this Privacy and Cookie Notice or otherwise will create, or add to, any right or claim (whether legal, equitable, or
        otherwise) that any individual or person may have at law or otherwise against the company or any third party, or any
        of their respective directors, officers, employees, agents, or representatives (collectively “Quintessential
        Brands”), nor will the existence of this Privacy and Cookie Notice or its application impose or add to any
        obligations upon or create any liability for Quintessential Brands that it does not already otherwise have under
        law.</p>
    <p >© [2013] [FEENEYSIRISHCREAM] This website, located at <a href="http://www.feeneysirishcream.com">www.feeneysirishcream.com</a>, is operated by
        a member of Quintessential Brands, the
        ultimate holding company of Quintessential Brands SA (company registered in Luxembourg with the company number
        B116094. Registered Office: 121, Avenue de la Faïencerie L – 1511 LUXEMBOURG Quintessential Brands Ltd is a company
        registered in England with the company number 07723026. Registered Office: Clayton Road, Birchwood, Warrington. WA3
        6PH.).</p>
</div>
