<!--############################ LOGIN ############################-->
<!--
    you can substitue the span of reauth email for a input with the email and
    include the remember me checkbox
    -->

<div class="container" id="login-again">
		<div class="alert alert-danger card card-container"  role="alert">
			<span class="sr-only">Error PLEASE LOGIN AGAIN:</span>
			<h4><i class="fa fa-exclamation-triangle"></i> &nbsp;&nbsp; Please Log In Again.</h4>
		</div>
</div><!-- /container -->
<div class="container">
	<div class="card card-container">
		<!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
		<div class="user-icon"><i class="fa fa-users"></i></div>
		<p id="profile-name" class="profile-name-card"></p>
		<form class="form-signin" id="form-login" action="/api/Members/login" method="post" >
			<span id="reauth-email" class="reauth-email"></span>
			<input type="hidden" id="successUrl" name="successUrl" value="dashboard">
			<input type="hidden" id="errorUrl" name="errorUrl" value="/#login">
			<input type="email" id="email" name="email" class="form-control" placeholder="Email address" required autofocus>
			<input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
			<div id="remember" class="checkbox">
				<label>
					<input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
				</label>
			</div>
			<div class="alert alert-danger error" role="alert">
				<i class="fa fa-exclamation-circle"></i>
				<span class="sr-only">Error:</span>
				Invalid <strong>email</strong> or <strong>password</strong>. <br/> Please try again.
			</div>
			<button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Log in</button>
		</form><!-- /form -->
		<a href="#" class="forgot-password hidden">
			Forgot the password?
		</a>
	</div><!-- /card-container -->
</div><!-- /container -->
