/*
 * Specific styles of signin component
 */
/*
 * General styles
 */




#login-again{
	> .card{
		padding-top: 1em;
		padding-bottom: 1em;
		margin-bottom: -2em;
		box-shadow: none;
		> h4{
			margin-bottom: 0;
		}
	}
	display: none;
}
.card-container.card {
	width: 350px;
	padding: 40px 40px;
}


.form-signin{
	.error{
		display: none;
		color: @brand-danger;
	}
}


/*
 * Card component
 */
.card {
	background-color: #F7F7F7;
	/* just in case there no content*/
	padding: 20px 25px 30px;
	margin: 0 auto 25px;
	margin-top: 50px;
	/* shadows and rounded borders */
	border-radius: 2px;
	border: 1px solid #ccc;
}

.profile-img-card {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin: 10px 0 0;
	min-height: 1em;
}

.reauth-email {
	display: block;
	color: #404040;
	line-height: 2;
	margin-bottom: 10px;
	font-size: 14px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
	direction: ltr;
	height: 44px;
	font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
	width: 100%;
	display: block;
	margin-bottom: 10px;
	z-index: 1;
	position: relative;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.form-signin .form-control:focus {
	border-color: rgb(104, 145, 162);
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 3px rgba(104, 145, 162,0.5);
}

.btn.btn-signin {
	/*background-color: #4d90fe; */
	background-color: rgb(104, 145, 162);
	/* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
	padding: 0px;
	font-weight: 700;
	font-size: 14px;
	height: 36px;
	border-radius: 3px;
	border: none;
	transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
	background-color: @gray-dark;
}

.forgot-password {
	color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
	color: rgb(12, 97, 33);
}
.user-icon{
	width: 100px;
	height: 100px;
	background-color: white;
	color: #6891a2;
	border: 1px solid #ccc;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto;
	//box-shadow: 2px 2px 10px @gray-light;
	//text-shadow: 1px 1px 3px #999;
	i{
		width: 80px;
		height: 80px;
		padding-top: 20px;
		padding-left: 7px;
		font-size: 80px;
		line-height: 80px;
	}
}
