@import "fullcalendar";
@import "daterangepicker3";


.app_event{
	opacity: 1;
	transition: opacity 0.5s;
	&.hide_event{
		opacity: 0.05;
		cursor: default;
	}
}

.event_info{
	ul{
		padding-left: 20px;
		padding-right: 5px;
		padding-top: 1em;
		padding-bottom: 1em;
		//border: 1px solid #e8e8e8;
		margin: 1em 0;
	}
}
.taskForm, .inputForm{
	padding:1em;
	color: @gray-light;
	font-size: 0.8em;
	.c_item.label{
		border-width:1px ;
		padding: 2px;
		font-size: 11px;
		line-height: 22px;
	}
	.submit{
		background-color: @gray-light;
		color: white;
		display: block;
		width: 100%;
		border-radius: 2px;
	}
	.reset_form{
		cursor: pointer;
		color: @brand-danger;
		font-weight: bolder;
	}
	.control{
		text-transform: uppercase;
		cursor: pointer;
		line-height: 20px;
	}
	.select_group{
		background-color: white;
		border: 1px solid #ddd;
		padding:5px ;
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
		margin-bottom: -1em;
	}
	input , textarea{
		&[disabled]{
			cursor: default;
		}
	}
}
.filter_area{
	padding:5px;
	border: 1px solid #e8e8e8;
	background-color: #f8f8f8;
	color: @gray-light;
	h5{
		font-size: 10px;
		margin-top: 0;
		padding-bottom: 2px;
		margin-bottom: 0;
	}
	.filters{
		margin:0;
		height: 80px;
		overflow: scroll;
		padding: 0px;
		padding-top: 5px;
		//background-color: #FFF;
		//border: 1px solid #f0f0f0;
	}
}
//::-webkit-scrollbar {
//	-webkit-appearance: none;
//	width: 7px;
//}
//::-webkit-scrollbar-thumb {
//	border-radius: 4px;
//	background-color: rgba(0,0,0,.5);
//	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
//}
.hiddenInput{
	background: transparent !important;
	border: none !important;
	outline: none !important;
	height: 1px;
	padding: 0;
	margin: 0;
	box-shadow: none;
	cursor:default;
}
.outerControls{
	position: relative;
	> div{
		position: absolute;
		top: 1em;
		left:-15px;
	}
	.control{
		cursor:pointer;
		color: #333;
	}
}

.fc-past{
	background-color: #f8f8f8;
}
.fc-today.fc-today{
	background-color: #DDF2FF;
	cursor: pointer;
}
.fc-future{
	cursor: pointer;
}
#from_date{
	transition: box-shadow 0.2s, border-color 0.2s;
	&.transition{
		box-shadow: inset 0 0 5px 5px rgba(40, 96, 144,0.5);
		border-color: rgba(40, 96, 144,1);
	}
}
.fc-event{
	position: relative;
	.fc-event-cn{
		position: absolute;
		display: block;
		top: 2px;
		left: 0;
		padding: 0;
		> span{
			display: block;
			height: 10px;
			border-radius: 2px;
			width: 10px;
			float: left;
			margin-left: 2px;
		}
	}
}
.fc-day-header{
	background-color: #337ab7;
	color: #fff;
	font-weight: normal;
}
.fc-center{
	h2{
		color: #337ab7;
		font-size: 26px;
	}
}

