<div id="task" class="taskForm">
	<h4 class="title text-info">{{{title}}}</h4>
	<form id="taskForm">
		<input type="hidden" id="memberId" name="memberId" value="{{creatorId}}">
		<input type="hidden" id="created_on" name="created_on" value="{{created_on}}">
		<input type="hidden" id="id" name="id" value="{{event.id}}">

		<div class="form-group">
			<label for="name">Name </label>
			<input type="text" class="form-control" id="name" name="name" value="{{event.name}}" required maxlength="30"
					 {{#disabled}}disabled{{/disabled}} >
		</div>
		<div class="form-group">
			<label for="name">Description </label>
			<textarea class="form-control" id="description" name="description" required
						 {{#disabled}}disabled{{/disabled}} >{{event.description}}</textarea>
		</div>
		<div class="form-group">
			<label for="from_date">From</label>

			<div class="input-group">
				<input type="text" class="form-control" id="from_date" name="from_date" value="{{FROM}}"
						 placeholder="dd/mm/yyyy" required {{#disabled}}disabled{{/disabled}}>
				<div class="input-group-addon"><i class='fa fa-calendar'></i></div>
			</div>
		</div>
		<div class="form-group">
			<label for="to_date">To</label>

			<div class="input-group">
				<input type="text" class="form-control" id="to_date" name="to_date" value="{{TO}}"
						 placeholder="dd/mm/yyyy" required {{#disabled}}disabled{{/disabled}}>
				<div class="input-group-addon"><i class='fa fa-calendar'></i></div>
			</div>
		</div>
		<div class="form-group">
			<h5>Select a Campaign</h5>
			{{^disabled}}
			<select class="form-control" id="categoryId" name="categoryId" required
					  data-errormessage="Please select a Category" >
				<option value="" selected>&nbsp;</option>
				{{#categories}}<option value="{{attributes.id}}">{{attributes.name}}</option>{{/categories}}
			</select>
			<!--<div id="categorySelect" class="select_group"></div>-->
			<!--<input type="text"   value="" class="hiddenInput"-->
					 <!--data-errormessage="Please select one Category" required>-->
			{{/disabled}}
			{{#disabled}}
			<input type="text" id="categoryId" name="categoryId" value="{{categoryName}}" class="form-control" disabled>
			{{/disabled}}
		</div>
		<div class="form-group">
			<h5>Select a Channel</h5>
			{{^disabled}}
			<select class="form-control" id="socialChannelId" name="socialChannelId" required
					  data-errormessage="Please select a Social Cahnnel">
				<option value="" selected>&nbsp;</option>
				{{#channels}}<option value="{{attributes.id}}">{{attributes.name}}</option>{{/channels}}
			</select>
			<!--<div id="channelSelect" class="select_group"></div>-->
			<!--<input type="text" id="socialChannelId" name="socialChannelId" value="" class="hiddenInput"-->
					 <!--data-errormessage="Please select one Channel" required>-->
			{{/disabled}}
			{{#disabled}}
			<input type="text"  value="{{socialChannelName}}" class="form-control" disabled>
			{{/disabled}}
		</div>
		{{^disabled}}
		<button type="submit" class="btn submit">{{#event.id}}Update{{/event.id}}{{^event.id}}Create{{/event.id}}</button>
		<div class="form-group">
			&nbsp;<br/>
			<span class="reset_form">Clear Values <i class="fa fa-times"></i></span>
		</div>
		{{/disabled}}
		{{#editControls}}
		<span class="label label-warning eventEdit control">Edit &nbsp;<i class="fa fa-pencil"></i>&nbsp;</span>
		<span class="label label-danger  eventDelete control">Delete &nbsp;<i class="fa fa-times"></i>&nbsp;</span>
		{{/editControls}}

	</form>
</div>
<div class="outerControls">
	<div>
		<span class="label label-warning  eventCancel control">Cancel &nbsp;<i class="fa fa-times"></i>&nbsp;</span>
	</div>
</div>

