<div id="task" class="taskForm">
	<form>
		<div class="form-group">
			<label>Name </label><input type="text" class="form-control"  value="{{name}}" disabled>
		</div>
		<div class="form-group">
			<label>Description </label>
			<textarea class="form-control"  disabled>{{description}}</textarea>
		</div>
		<div class="form-group">
			<label>From</label>
			<div class="input-group">
				<input type="text" class="form-control" value="{{from_date}}" disabled>
				<div class="input-group-addon"><i class='fa fa-calendar'></i></div>
			</div>
		</div>
		<div class="form-group">
			<label>To</label>
			<div class="input-group">
				<input type="text" class="form-control" value="{{to_date}}" disabled>
				<div class="input-group-addon"><i class='fa fa-calendar'></i></div>
			</div>
		</div>
		<div class="form-group">
			<label>Campaign</label>
			<input type="text" class="form-control"  value="{{categoryName}}" disabled>
			<input type="hidden" class="form-control"  value="{{categoryId}}" disabled>
		</div>
		<div class="form-group">
			<label>Channel</label>
			<input type="text" class="form-control"  value="{{socialChannelName}}" disabled>
			<input type="hidden" class="form-control"  value="{{socialChannelId}}" disabled>
		</div>
	</form>
</div>


