<div class="event_info">
	<h3 class="text-info">Info <i class="fa fa-info-circle"></i></h3>
	<ul>
		<li>Click on the calendar to create a new event</li>
		<li>Click over one event to view related info</li>
	</ul>
	<button class="btn btn-primary eventCreate">Create new Event</button>
	<br/>&nbsp;
</div>
