<!-- Collect the nav links, forms, and other content for toggling -->
<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
		Options <span class="caret"></span>
	</a>
	<ul class="dropdown-menu" role="menu">
		<!--<li><a href="#newTask">-->
			<!--<button class="btn btn-primary navbar-btn" href="#newTask">Create New Task</button>-->
		<!--</a></li>-->
		<!--<li class="divider"></li>-->
		<!--<li><a href="#profile">My Profile</a></li>-->
		<!--<li><a href="#agency">My Agency</a></li>-->

		<li><a href="#" id="newCategory">New Campaign</a></li>
		<li><a href="#" id="newChannel">New Channel</a></li>
		<li class="divider"></li>
		<li><a href="#logout">LogOut</a></li>
	</ul>
</li>


