.c_item{
	&.label{
		background-color: #999;
		color: #CCC;
		cursor: pointer;
		font-size: 11px;
		padding: 3px;
		text-transform: capitalize;
		line-height: 24px;
		border:1px solid transparent;
		&.active{
			color: #FFF;
		}
		&:hover{
			border-color:#333;
		}
	}
	&.fw{
		display: block;
		width: 100%;
		text-align: left;
	}
}
.calendar_section{
	margin-top: 20px;
}
.calendar_side{
	margin-top: 2em;
	border: 1px solid #ddd;
	background-color: #f8f8f8;
	border-radius: 2px;
	@media (min-width: @screen-sm-min) {
		margin-top: 52px;
	}
	.title{
		margin-top: 0.3em;
		margin-bottom: 0.6em;
	}
}
#calendar{
	margin-left: (@grid-gutter-width / 2) * -1;
	margin-right: (@grid-gutter-width / 2) * -1;
	@media (min-width: @screen-sm-min) {
		margin-right:0;
	}
}
#content{
	padding: 0 10px;
	@media (min-width: @screen-sm-min) {
		padding: 0;
	}
}
