<!--############################ DASBOARD ############################-->
<div class="container">
	<div class="row filter_area">
		<div class="col-sm-4" id="agency_filter">
			<div class="">
				<h5>Filter By Agency</h5>
				<div class="filters" id="agenciesFilter">
				</div>
			</div>
		</div>
		<div class="col-sm-4" id="category_filter">
			<div class="">
				<h5>Filter By Campaign</h5>
				<div class="filters" id="categoryFilter" >
				</div>
			</div>
		</div>
		<div class="col-sm-4" id="post_type-filter">
			<div class="">
				<h5>Filter By Channel</h5>
				<div class="filters" id="channelFilter">
				</div>
			</div>
		</div>
	</div>
	<div class="row calendar_section">
		<div class="col-sm-9">
			<div id="calendar"></div>
		</div>
		<div class="col-sm-3 calendar_side" id="calendar_side"></div>
	</div>
</div>
