<!--############################ NAVBAR ############################-->
<nav class="navbar navbar-default">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-content">
				<span class="sr-only">Toggle navigation</span>
				<i class="fa fa-bars"></i>
			</button>
			<a class="navbar-brand" href="#"><img src="/assets/images/aib-logo.png" alt="AIB"/> AIB Tasks Manager</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="navbar-content">
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
