<!--############################ FOOTER ############################-->
<footer class="footer">
	<div class="container">
		<div class="row ">
			<div class="col-md-6">
				<div class="row">
					<div class="col-sm-4">Built by <a href="http://radical.ie/" target="_blank">Radical</a></div>
				</div>
			</div>
		</div>
	</div>
</footer>
